body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-size: 100%;
}
header{
  background-color: #98d2e6;
}
nav{
  background-color: #f3c090;
  display: block;
  text-align: left;
  font-size: 150%;
  line-height: 125%;
}
header img {
  display: block;
  margin: 0 auto;
}
main{
  background-color: #f3c090;
  font-size: 150%;
  padding: 20px 20px;
}
footer{
  background-color: azure;
  }
li{
  display: inline-block;
  width: 50%
  }
h1{
  text-align: center;
  font-family: cursive;
  font-size: 250%;
}
p{
  line-height: 125%;
  font-size: 100%;
}

